<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios - Estúdio de Pilates</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <header>
        <h1>Estúdio de Pilates</h1>
    </header>
    <nav>
        <a href="home.html">Home</a>
        <a href="agendamento.html">Agendamento</a>
        <a href="clientes.html">Clientes</a>
    </nav>
    <main>
        <h2>Relatórios Financeiros</h2>
        <form id="generateReportForm">
            <label for="period">Período:</label>
            <select id="period" name="period">
                <option value="">Selecione</option>
                <option value="mensal">Mensal</option>
                <option value="trimestral">Trimestral</option>
                <option value="anual">Anual</option>
            </select>
            <button type="submit">Gerar Relatório</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2024 Estúdio de Pilates</p>
    </footer>
    <script src="../js/jquery.min.js"></script>
    <script src="../../static/js/scripts.js"></script>
</body>

</html>