<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes - Estúdio de Pilates</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<header>
    <h1>Clientes</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/listarAgendamentos">Agendamentos</a>
        <a href="/listarRelatorios">Relatórios</a>
    </nav>
</header>

<main>
    <h2>Gerenciamento de Clientes</h2>
    <form id="addClientForm">
        <label for="clientName">Nome:</label>
        <input type="text" id="clientName" name="clientName">
        <label for="clientEmail">Email:</label>
        <input type="email" id="clientEmail" name="clientEmail">
        <button type="submit">Adicionar Cliente</button>
    </form>
    <h3>Lista de Clientes</h3>
    <table id="cliente-table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <!-- Dados de clientes serão inseridos aqui dinamicamente -->
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.nome}">Nome do Cliente</td>
            <td th:text="${cliente.email}">Email do Cliente</td>
            <td>
                <button class="editar-btn" th:attr="data-id=${cliente.id}">Editar</button>
                <button class="excluir-btn" th:attr="data-id=${cliente.id}">Excluir</button>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer>
    <p>&copy; 2024 Estúdio de Pilates. Todos os direitos reservados.</p>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/listarClientes.js"></script>
</body>
</html>
